* @bhanunadar @abhishekkumar65 @shikhartyagi1

# API
/api/db/ @bhanunadar @aniljaiswal
/api/build.gradle @bhanunadar @aniljaiswal
/api/docker-compose* @bhanunadar @aniljaiswal
/api/Dockerfile @bhanunadar @aniljaiswal
/api/micronaut-cli.yml @bhanunadar @aniljaiswal
/api/src/main/resources/application* @bhanunadar @aniljaiswal
/api/src/main/resources/logback.xml @bhanunadar @aniljaiswal

# Client
/client/build.gradle @bhanunadar @aniljaiswal

# Model
/model/build.gradle @bhanunadar @aniljaiswal

# Root
/buildSrc/ @aniljaiswal
/scripts/ @bhanunadar @aniljaiswal
/.github/ @bhanunadar @aniljaiswal
/Dockerfile @bhanunadar @aniljaiswal
/flyway.conf @bhanunadar @aniljaiswal
/gradle.properties @bhanunadar @aniljaiswal
/settings.gradle @bhanunadar @aniljaiswal
