* @Cogoport/platform-engineering @bhanunadar @abhishekkumar65 @shikhartyagi1

# API
/api/db/ @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/api/build.gradle @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/api/docker-compose* @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/api/Dockerfile @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/api/micronaut-cli.yml @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/api/src/main/resources/application* @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/api/src/main/resources/logback.xml @Cogoport/platform-engineering @bhanunadar @aniljaiswal

# Client
/client/build.gradle @Cogoport/platform-engineering @bhanunadar @aniljaiswal

# Model
/model/build.gradle @Cogoport/platform-engineering @bhanunadar @aniljaiswal

# Root
/buildSrc/ @Cogoport/platform-engineering @aniljaiswal
/scripts/ @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/.github/ @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/Dockerfile @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/flyway.conf @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/gradle.properties @Cogoport/platform-engineering @bhanunadar @aniljaiswal
/settings.gradle @Cogoport/platform-engineering @bhanunadar @aniljaiswal
