<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>
                {"timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}", "level": "%p", "service": "ares", "traceId": "%X{traceId}", "spanId": "%X{spanId}", "sessionInfo": {%X{sessionInfo}} , "thread": "%t", "logger": "%logger{39}", "message": "%replace(%msg){'[\n\r	]+', '\\r'}%replace(%ex){'[\n\r	]+', '\\r'}%nopex"}%n
            </pattern>
        </encoder>
    </appender>
    <logger name="io.micronaut.data.query" level="error"/>
    <logger name="io.micronaut.rabbitmq" level="error"/>
    <logger name="io.micronaut.management" level="error"/>
    <logger name="io.micronaut.http.client" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="io.micronaut.http.client" level="DEBUG" />
    <logger name="io.micronaut.data.query" level="trace" />
</configuration>
